
@{
    ViewBag.Title = "detailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Registration.js"></script>

<h2>detailsIndex</h2>
<input type="hidden"value=" @ViewBag.Id" id="hdnid"/>
<div class="container">
    <div class="col-sm--12">
        <div class="row">
            <div class="col-sm-6">

                <label>Name:-</label>
                <span id="textname"></span>

                <label> Mobile_No:-</label>
                <span id="textmobileno"></span>
            </div>

            <div class="col-sm-6">

                <label> Address::-</label>
                <span id="textaddress"></span>

                <label>  City::-</label>
                <span id="textcity"></span>
            </div>

            </div>

        </div>

    </div>

</div>
